.wid1{width: 720px;height: 1340px;}
.wid3{width: 300px;height:1124px ;}
.u9{width: 240px;height: 90px;line-height: 20px;text-align: left;}
.u9_1{width: 70px;height: 20px;float: left;}
.u9_2{width: 166px;height: 18px;float: left;}