.wid1{width: 720px;height: 1146px;}
.wid3{width: 281px;height:1124px ;}
.wid4{width: 688px;height: 1124px;display: block;}
.wid5{width: 279px;height: 1124px;border-right: 1px dashed #ccc;}
.u9{width: 240px;height: 90px;line-height: 20px;text-align: left;}
.u9_1{width: 70px;height: 20px;float: left;}
.u9_2{width: 166px;height: 18px;float: left;display: block;}
.img3{overflow: hidden;}
.zhuce{width: 377px;height: 1124px;}
.conttext1{width:377px ;height:30px ;line-height:30px ;margin-left: 20px;}
.conttext2{width: 140px;height:22px ;line-height:22px ;margin-left: 20px;}
.conttext3{width: 224px;height:20px ;line-height:20px ;}
.conttext4{width: 348px;height:20px ;line-height:20px ;margin-left: 20px;}
.conttext5{width:366px ;height:25px ;line-height:25px ;}
.conttext11{width:226px ;height:22px ;line-height:22px ;}
.conttext12{width:366px ;height:38px ;margin-left: 30px;}
.conttext6{width:366px ;height:154px ;}
.conttext7{width:366px ;height:122px ;}
.conttext8{width:160px ;height:120px ;}
.conttext9{width:388px ;height:1034px;}
.conttext10{width:60px ;height:22px;}
.conttext13{width:152px ;height:20px;border: 1px solid #ccc;}
.conttext14{width:324px ;height:36px ;line-height:20px ;}
.u10>li{float: left;text-align: left;}
