/*左半部分*/
.u8{text-align: left;}
.u8 li{line-height: 28px;}
.bg3{background-color: #fff;}
.div3{overflow: hidden;}
.myshopcar{width:720px ;overflow: hidden;border-radius:10px ;position: relative;min-height: 624px;}
.myshopcar_1{height: 30px;margin-top: 20px;line-height: 30px;}

